h1, h2, h3 {
    margin-bottom: 15px;
    text-align: center;
}

.container {
    width: min(800px, 90%);
    margin: 30px auto;
    background: var(--bg-lighter);
    padding: 25px;
    border-radius: var(--radius);
}